<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title,links,script)">
    <meta charset="UTF-8">
    <title th:replace="${title}">公共資源文件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"></link>
    
    <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
 	<script th:src="@{/js/layer/layer.js}"></script>
 	<script th:src="@{/js/jquery.easyui.min.js}"></script>
	<script th:src="@{/js/jquery.easyui.customizeValidate.js}"></script>
	<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<script type="text/javascript">
		//消息彈出框
		function alertMessage(content){
			layer.msg(content);
// 			layer.open({
//  				time:600,
//  				content:
// 	 		})
		}
		
		//刷新列表
		function refreshTable(){
			setTimeout(function () {
				window.location.reload();
			}, 1000);
		}
		
		//实现单选
		function chk(input) {
			var a = $("input[type='checkbox'][name='ck']");
		    for (var i = 0; i < a.length; i++) {
				if (a[i].checked == true && a[i]!=input) {
					a[i].checked = false;
			    }
			}
		    if(input.checked ==true){
		      input.checked = true;
		    }else{
		      input.checked = false;
		    }
		    return true;
		}
		
		function checkbox(name){
			if(name!=null && name!='undefined'){
				return $("input[name='"+name+"'][type='checkbox']:checked");
			}else{
				return $("input[type='checkbox']:checked");
			}
		}
		
		// show loading
		function showLoading(){
	   		return layer.msg('正在加載中，請稍候......', {icon: 16, shade: [0.5, '#000000'], scrollbar: false, time: 0, width: 180});
	   	}
		
		// close loading
	   	function closeLoading(index){
	   		layer.close(index);
	   	}
		
	  	//解决底部自动导航的问题
	   	function autoNav(){
	   	    //获取内容的高度
	   	    var bodyHeight = $("body").height();
	   	    //获取底部导航的高度
	   	    var navHeight = $(".navbar").height();
	   	    //获取显示屏的高度
	   	    var iHeight = document.documentElement.clientHeight || document.body.clientHeight;
	   	    //如果内容的高度大于（窗口的高度 - 导航的高度）,z则需要添加一个div，设置其高度
	   	    if(bodyHeight > (iHeight - navHeight)){
	   	        $("body").append('<div style="height: '+navHeight+'px"></div>');
	   	    }
	   	}
	</script>
	<style type="text/css">
		@font-face {
			font-family: 'Glyphicons Halflings';
		    src: url('/fonts/glyphicons-halflings-regular.eot');
		}
 	</style>

    <!--全局通用框架样式 end-->


    <th:block th:replace="${links}" />
 	<th:block th:replace="${script}" />
</head>
<body>
</body>
</html>